.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.container {
  display: flex;
  justify-content: space-between;
}

.navBarTitle {
  font-size: 2rem;
  color: black;
  background-color: var(--primary-color);
  color: var(--text-color);
}
