.container {
  display: flex;
  justify-content: center;
}
.card {
  width: 25rem;
  display: flex;
  align-self: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.card-body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.list-group-item {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.card-title {
  font-weight: 600;
}
.backButton {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
.borderList {
  display: flex;
  flex-direction: column;
}

.borderButton {
  color: black;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.borderBtn {
  color: black;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.loading {
  display: flex;
  justify-content: center;
}
.backButton{
  display: flex;
  justify-content: start;
}